.form-title {
    text-align: center;
    margin: 20px 0;
    color: #f68904;
    font-weight: bold;
  }
  
  .add-blog-card {
    max-width: 650px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .upload-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    
  }
  .upload{
    color: white;
    background-color: #424141;
  }
  .file-name {
    font-style: italic;
    color: #666;
  }
  
  .image-preview {
    display: block;
    max-width: 100%;
    max-height: 250px;
    border-radius: 8px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .progress-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
    height: 24px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #484a4c;
    transition: width 0.3s ease;
  }
  
  